////
/// Core colors used throughout the application
///
/// @copyright 2021 Adam Carlson - All rights reserved
////

$white: #ffffff;
$black: #000000;
$warning-red: #dc3545;
$dark-red: #721c24;
$default-theme-color: #6495ED;
$light-grey: #f8f8f8;
$grey: #808080; 