////
/// Beacons app component styling
///
/// @copyright 2021 Beacons - All rights reserved
////

@use "./core/colors";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

html {
  height: 100%;
  width: 100%;
  body {
    height: 100%;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Bungee Inline', cursive;
    background-color: white;
  }
}
