.links-editor-container {
  border: 1px solid grey;
  margin: 10px 10px 0;
  border-radius: 10px;

  @media screen and (min-width: 450px) {
    width: 45%;
    float: left;
  }

  .links-editor-header {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 5px;
  }

  .settings-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2.7rem;
    color: grey;

    @media screen and (min-width: 450px) {
      right: 55%;
      cursor: pointer;
    }
  }

  .editable-links {
    list-style-type: none;
  }

  .create-link-btn-container {
    width: 100%;
    text-align: center;

    .create-link-btn {
      display: inline-block;
      background: cornflowerblue;
      text-align: center;
      color: white;
      padding: 10px;
      border-radius: 3px;
      margin-bottom: 20px;
    }
  }

  .add-link-container {
    margin: 10px 0;
    display: block;
    width: 80%;
    position: relative;
    left: 10%;
    background: gold;
    height: 100px;

    .add-link-title {
      display: block;
    }
    .add-link-url {
      display: block;
    }
    .add-link-btn {
      display: block;
    }
  }
  .link-corner-styling-selection {
    display: block;
  }
}