@use "./core/spacing";

.links-preview-container {
  border: 1px solid black;
  margin: 10px 10px 0;

  .links-preview-header {
    font-weight: bold;
    font-size: 1.5rem;;
  }

  .live-links {
    list-style-type: none;
  }
}