.settings-form-label {
  display: block;
}

.change-link-background, 
.change-link-color,
.link-corner-styling-selection {
  margin-bottom: 15px;
}

.link-corner-styling-selection {
  display: block;
}

.link-style-radio-btn {
  margin-right: 5px;
}

.link-style-radio-btn-label {
  margin-bottom: 5px;
}

.save-settings-btn {
  background: cornflowerblue;
  color: white;
  border: 0;
  padding: 10px;
  border-radius: 5px;
}